<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mountain Views</title>
  </head>
  <body>
    <div class="mdl-grid">
      <h1 class="mdl-mega-footer__heading">Grid</h1>
    </div>

    <!-- display the grid -->
    <div id="grid-1"></div>

    <!-- libraries -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- after the document has load -->
    <script>
      $(document).ready(function(){

        // DOM objects
        // var $grid1 = $("#grid-1");

        // load data
        $.getJSON("http://localhost:4000/grid.json", function(data){

        });

      });
    </script>
  </body>
</html>
