<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mountain Views</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <style>
      .paths, .paths svg{background: #efefef; height: 80vh; width: 100%;}
    </style>
  </head>
  <body>
    <div class="mdl-grid">
      <h1 class="mdl-mega-footer__heading">Grid</h1>
    </div>

    <!-- display the grid -->
    <div id="grid-1" class="paths"></div>

    <!-- libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/snap.svg/0.4.1/snap.svg-min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

    <!-- after the document has load -->
    <script>

      function draw($grid, points){
        var scale = 18
        var snap = Snap($grid.id)
        var nodeGroup = snap.g()
        nodeGroup.attr({
          transform: "translate(-4,-4), scale(4)"
        })
        $grid.append(snap.node)

        for (var i=0; i<points.length; i++){
          var point = points[i]
          var color
          
          switch(point.type){
            case "node":
              color = "#7CB342"
              break;
            case "block":
              color = "#FF5722"
              break;
            default:
              color = "#7CB342"
          }
          var circle = snap.circle(point.x*scale, point.y*scale ,4/scale*4)
          circle.attr({
            fill: color
          })
          nodeGroup.add(circle)
        }
      }

      // Ready
      $(document).ready(function(){

        // load data
        $.getJSON("http://localhost:4000/grid.json", function(data){
          var $grid1 = $("#grid-1");
          draw($grid1, data.data)
        });

      });
    </script>
  </body>
</html>
