<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mountain Views</title>
  </head>
  <body>
    <div class="mdl-grid">
      <h1 class="mdl-mega-footer__heading">Grid</h1>
    </div>

    <!-- display the grid -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
